<h3>{{leyenda}}</h3>

<div class="input-group">
    <input type="text" class="form-control" name="porcentajex" [(ngModel)]="porcentaje" placeholder="Porcentaje" aria-label="Porcentaje" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-primary" (click)="cambiarvalor(-5)" type="button">
            <i class="mdi mdi-minus"></i>
        </button>
        <button class="btn btn-primary" (click)="cambiarvalor(+5)" type="button">
            <i class="mdi mdi-plus"></i>
            
        </button>
    </div>
</div>